.VidPlayer{
    width: 72.5%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.desc{
    color: white !important;
    font-size: calc(8px + 0.75vw) !important;
}
.BreakingBad{
    position: relative !important;
    bottom: 200px;
    left: 2%;
}
.body2 {
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    min-height: 100vh !important;
    padding: 0 35px !important;
}
.navbar-toggler{
    background-color: rgb(148, 0, 0) !important;
}
.navbar{
    background-color: none !important;
    /* position: sticky !important; */
    top: 0px !important;
    z-index: 1 !important;
}
.collapse{
    margin-left: 20px !important;
}
.nav-link{
    color: rgb(141, 141, 141) !important;
}
.nav-link:hover{
    color: rgb(255, 255, 255) !important;
}
h1{
    color: white !important;
}
h4{
    color: rgb(240, 0, 0) !important;
}
.wrapper {
    max-width: 1100px !important;
    width: 100% !important;
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%) translateY(-50%) !important;
}

.wrapper:first-child {
    top: 50vh !important;
}

.wrapper:nth-child(2) {
    top: 150vh !important;
}
.wrapper:nth-child(3) {
    top: 250vh !important;
}
.s1{
    top: 0vh !important;
}
.s2{
    top: 50vh !important;
}
.avatar{
    left: 32px !important;
}
.wrapper i {
    height: 50px !important;
    width: 50px !important;
    background: rgb(118, 233, 118) !important;
    text-align: center !important;
    line-height: 50px !important;
    border-radius: 50% !important;
    cursor: pointer !important;
    float: left !important;
    top: 50% !important;
    font-size: 1.25rem !important;
    transform: translateY(-50%) !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

.wrapper i:first-child {
    left: -22px !important;
}

.wrapper i:last-child {
    right: -22px !important;
}

.wrapper .carousel {
    display: grid !important;
    grid-auto-flow: column !important;
    grid-auto-columns: calc((100% / 4) - 12px) !important;
    gap: 8px !important;
    overflow-x: auto !important;
    scroll-snap-type: x mandatory !important;
    scroll-behavior: smooth !important;
    scrollbar-width: 0 !important;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-thumb {
    background: #585858;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(112, 112, 112);
}
::-webkit-scrollbar-track {
    background: #333333;
}
.carousel :where(.card, .img) {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
} 
.carousel.dragging {
    scroll-snap-type: none !important;
    scroll-behavior: auto !important;
}

.carousel.no-transition {
    scroll-behavior: auto !important;
}

.carousel.dragging .card {
    cursor: grab !important;
    user-select: none !important;
}

.carousel .card {
    scroll-snap-align: start !important;
    height: 600px !important;
    list-style: none !important;
    background: #222222 !important;
    display: flex !important;
    cursor: pointer !important;
    width: 90% !important;
    padding-bottom: 100px !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
}

.card .img {
    width: 100% !important;
    height: 1px !important;
}

.card .img img {
    width: 100% !important;
    height: auto !important;
    object-fit: cover !important;
}

.card h2 {
    font-weight: 500 !important;
    font-size: 1.56rem !important;
    margin: 30px 0 5px !important;
    position: relative;
    top: 150px;
}

.card span {
    color: #6a6d78 !important;
    font-size: 1.31rem !important;
    position: relative;
    top: 150px;
    left: 5px;
}

@media screen and (max-width: 990.5px) {
    .wrapper .carousel {
        grid-auto-columns: 20% !important;
    }
    video{
        display: none;
    }
    .BreakingBad{
        display: none;
    }
    h4{
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .wrapper .carousel {
        grid-auto-columns: 40% !important;
    }
}
/*  de after voegt een extra element toe zodat je geen leeg div-je hebt voor alleen clear float gejat van een oud script die ik samen met Tristan heb geschreven*/
.content:after {
    visibility: hidden !important;
    display: block !important;
    font-size: 0 !important;
    content: " " !important;
    clear: both !important;
    height: 0 !important;
    } .content {
    display: inline-block !important;
    } 
    html{
    .content { height: 1% !important; }
    .content { display: block !important; }
}